:root {
    --roxo1: #9B49A6;
    --roxo2: #BD39BF;
    --cor3: #B4CED9;
    --cor4: #F2E2C4;
    --cor5: #BF9B7A;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--cor4);
    color: #333;
    margin: 0;
    padding: 0;
}

.logo {
    padding: 5px 0;
    background-color: var(--roxo1);
}

.logo img {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    margin: 0 auto;
}

.headline_sub {
    max-width: 800px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
}
  
.headline_sub h1 {
    color: var(--roxo2);
    text-align: center;
    padding: 10px;
    font-size: 2.5rem;
    line-height: 90%;
}

.headline_sub h1 strong{
    animation-name: piscar;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
  
.headline_sub h2 {
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

#ebook {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.preco {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.preco #oferta span, #oferta2 span, #oferta3 span, #oferta4 span{
  color: red;
  font-size: 1.1em;
  animation-name: piscar;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.preco-original {
    font-size: 1.8rem;
    text-decoration: line-through;
    color: var(--cor5);
    margin-right: 10px;
}
  
.preco-desconto {
    color: #f00;
    font-size: 4rem;
    display: block;
    margin-top: 10px;
}

.botao_compra {
  margin: 16px 0;
  display: inline-block;
  padding: 20px 20px;
  background-color: yellow;
  color: black;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border-radius: 20px;
  border-bottom: 2px solid red;
  cursor: pointer;
  animation-name: treme;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.lista_beneficios {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10%;
  padding: 0 20%;
}

.lista_beneficios ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.lista_beneficios li {
  position: relative;
  margin-bottom: 10px;
  text-align: left;
}

.lista_beneficios li:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--roxo2);
  position: absolute;
  left: -20px; /* Ajuste o valor conforme necessário */
  top: 5px;
}

.maisDetalhes {
  font-size: 1.1em;
  color: var(--roxo1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.maisDetalhes i {
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 20px;
}

.secao1 {
  max-width: 55%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  text-align: center;
}

.secao1 h2 {
  font-size: 1.8em;
  line-height: 1.2;
}

.secao1 p {
  font-size: 1em;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 20px;
}

.secao1 p b {
  font-weight: bold;
}

.secao2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.secao2 .texto {
  flex: 1;
}

.secao2 h2 {
  font-size: 1.8em;
  line-height: 1.2;
  margin-bottom: 20px;
  text-align: left;
}

.secao2 p {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 30px;
  font-weight: 500;
  text-align: justify;
}

.secao2 p b {
  font-weight: bold;
}

.secao2 .imagem {
  flex: 1;
  text-align: center;
}

.secao2 .imagem img {
  max-width: 100%;
  height: auto;
}

.secao3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
}

.secao3 h2 {
  font-size: 1.8em;
  margin-bottom: 30px;
  text-align: center;
}

.listaSecao3 {
  list-style: none;
  counter-reset: item;
  margin: 0 0 35px 0;
  padding: 0;
  text-align: left;
}

.listaSecao3 > li:before {
  content: counter(item) ".";
  counter-increment: item;
  font-weight: bold;
  margin-right: 0.5em;
}

.listaSecao3 > li:only-child:before {
  content: counter(item) ".";
  counter-increment: item;
  font-weight: bold;
  margin-right: 0.5em;
}

.listaSecao3 > li {
  font-weight: 500;
  margin-bottom: 10px;
  padding-left: 1.5em;
  position: relative;
  text-align: left;
}

.secao4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 35px auto;
  padding: 20px;
}

.secao4 .texto {
  flex: 1;
}

.secao4 p {
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 30px;
  font-weight: 500;
  text-align: justify;
}

.secao4 p b {
  font-weight: bold;
}

.secao4 .imagem {
  flex: 1;
  text-align: center;
}

.secao4 .imagem img {
  max-width: 100%;
  height: auto;
}

.secao5 {
  max-width: 55%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.secao5 h2 {
  font-size: 1.8em;
  line-height: 1.2;
  margin-bottom: 20px;
}

.secao5 p {
  font-size: 1em;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 20px;
  text-align: justify;
}

.secao5 p b {
  font-weight: bold;
}

.secao5 img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.secao6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 35px auto;
  padding: 20px;
}

.secao6 .texto {
  flex: 1;
}

.secao6 p {
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 30px;
  font-weight: 500;
  text-align: justify;
}

.secao6 p b {
  font-weight: bold;
}

.secao6 .imagem {
  flex: 1;
  text-align: center;
}

.secao6 .imagem img {
  max-width: 100%;
  height: auto;
}

.secao7,.secao7-titulo,.secao8-titulo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 20px 5%
}

.secao7 .texto {
  margin: 0 10px;
  width: 250px;
  font-size: 1em;
}

.secao7 .texto p {
  margin: 0;
  padding: 10px;
}

.secao8 {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
}

.secao8 .texto {
  width: 48%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.secao8 .texto img {
  max-width: 20%;
  max-height: 20%;
  margin-right: 10px;
}

.secao9 {
  max-width: 55%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.secao9 p {
  font-size: 1em;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 20px;
  text-align: justify;
  max-width: 90%;
}

.secao9 p b {
  font-weight: bold;
}

.listaSecao9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10%;
  padding: 0 20%;
}

.listaSecao9 ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.listaSecao9 li {
  position: relative;
  margin-bottom: 10px;
  text-align: left;
}

.listaSecao9 li:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--roxo2);
  position: absolute;
  left: -20px; /* Ajuste o valor conforme necessário */
  top: 5px;
}

.secao10 {
  text-align: center;
  margin: 50px 0;
}

.secao10 .quemSouEu {
  font-size: 1.8em;
}

.secao10 .conteudo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; /* alinha verticalmente no centro */
}

.secao10 .conteudo p {
  font-size: 1em;
  font-weight: 500;
  width: 30%;
  max-width: 50em;
  padding-right: 1em;
  text-align: justify;
}

.secao10 .conteudo img {
  width: 256px;
  height: 256px;
}

  
/* Media queries */
@media only screen and (max-width: 768px) {
    /* Para telas com largura máxima de 600px */
    .logo img{
        max-width: 90px;
    }
    .headline_sub h2 {
      padding-left: 50px;
      padding-right: 50px;
    }

    .lista_beneficios {
      text-align: left;
      padding: 0 1%;
      margin-left: 8%;
    }

    .lista_beneficios ul {
      list-style: none;
    }
    
    .lista_beneficios li:before {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: var(--roxo2);
      position: absolute;
      left: -20px; /* Ajuste o valor conforme necessário */
      top: 5px;
    }
    
    .lista_beneficios li {
      padding-left: 0;
      margin-bottom: 20px;
    }

    .maisDetalhes {
      flex-direction: column;
      justify-content: center;
      display: flex;
      align-items: center;
    }
  
    .maisDetalhes p {
      margin-right: 10px;
    }
  
    .maisDetalhes i {
      font-weight: bold;
      margin-top: 10px;
    }
    
    .secao1 {
      max-width: 90%;
    }
    .secao1 h2 {
      text-align: left;
    }
    .secao1 p {
      text-align: justify;
    }

    .secao2 {
      flex-direction: column;
      padding: 10px;
      max-width: 90%;
    }

  
    .secao2 .texto, .secao2 .imagem {
      flex: unset;
    }
  
    .secao2 .imagem {
      text-align: center;
      margin-top: 20px;
    }
  
    .listaSecao3 {
      text-align: left;
      padding: 0 1%;
      margin-left: 8%;
    }
  
    .listaSecao3 li {
      padding-left: 0;
      margin-bottom: 20px;
    }

    .secao4 {
      display: flex;
      flex-direction: column-reverse;
    }
  
    .secao4 .texto {
      order: 1;
    }
  
    .secao4 .imagem {
      order: 2;
      margin-bottom: 20px;
    }
    
    .secao5 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 90%;
    }
  
    .secao5 h2 {
      order: 1;
      margin-bottom: 20px;
    }
  
    .secao5 img {
      order: 2;
      margin-bottom: 20px;
    }
  
    .secao5 p {
      order: 3;
      text-align: justify;
    }

    .secao6 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .secao6 .texto {
      text-align: center;
      order: 2;
      margin-top: 20px;
    }
  
    .secao6 .imagem {
      order: 1;
      margin-bottom: 20px;
    }

    .secao8 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      margin: 20px 5%
    }
    .secao8 .texto {
      width: 100%;
      text-align: justify;
    }
    .secao8 .texto:nth-child(2),
    .secao8 .texto:nth-child(3) {
      margin-top: 20px;
    }

    .secao9 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 90%;
    }
  
    .secao9 p {
      order: 3;
      text-align: justify;
    }

    .listaSecao9 {
      text-align: left;
      padding: 0 1%;
      margin-left: 8%;
    }

    .listaSecao9 ul {
      list-style: none;
    }
    
    .listaSecao9 li:before {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: var(--roxo2);
      position: absolute;
      left: -20px; /* Ajuste o valor conforme necessário */
      top: 5px;
    }
    
    .listaSecao9 li {
      padding-left: 0;
      margin-bottom: 20px;
    }

    .secao10 .conteudo p  {
      width: 82%;
      padding-right: 0;
    }

  }

  
@media only screen and (max-width: 480px) {
    /* Para telas com largura máxima de 400px */
    .logo img{
        max-width: 80px;
    }
    .headline_sub h1 {
      font-size: 1.5rem;
      line-height: 100%;
      padding: 5px;
    }
  
    .headline_sub h2 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .preco {
      font-size: 1rem;
    }
  
    .preco-original {
      margin-right: 5px;
    }
}


@keyframes piscar {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }

@keyframes treme {
    0% { transform: translateX(0); }
    10% { transform: translateX(-2px); }
    20% { transform: translateX(2px); }
    30% { transform: translateX(-2px); }
    40% { transform: translateX(2px); }
    50% { transform: translateX(-1px); }
    60% { transform: translateX(1px); }
    70% { transform: translateX(-1px); }
    80% { transform: translateX(1px); }
    90% { transform: translateX(-1px); }
    100% { transform: translateX(0); }
}
